body {
    font-family: Outfit, sans-serif;
    background-image: url(https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?w=2000);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}

.sr-only {
    position: absolute ;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
  }

.container{
    margin: 5% auto 30px;
    background-color: hsl(212, 45%, 89%);
    box-shadow: 10px 10px 70px -10px grey;
    max-width: 1440px;
    min-width: 300px;
    padding-top: 130px;
    padding-bottom: 100px;
    height: 500px;
}

#QRbg {
    margin: 0 auto;
    background-color: white;
    width: 300px;
    height: 470px;
    border-radius: 20px;
    box-shadow: 3px 3px 100px -30px grey;

}

img {
    margin: 15px 15px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-weight: 700;
    padding: 0 20px;
    margin: 5px;
    color: hsl(218, 44%, 22%);
    font-size: 1.2em;
}

p {
    text-align: center;
    font-weight: 400;
    padding: 0 30px;
    font-size: 0.9em;
    color: hsl(220, 15%, 55%);
}

.attribution, .attribution a { 
    color: hsl(228, 45%, 44%);
    font-size: 11px; 
    text-align: center; 
}